@import "post"

$color-bg-header = rgba(0,0,0,1)
$color-red = #D0021B
$color-font = #fff
$zIndex = 10
$zIndex-bg = 9

$margin = 5%

$line-height-mobile-lg = 0.5rem !important
$font-size-mobile-lg = 0.48rem !important
$font-size-mobile-sub-title = 0.4rem !important
$font-size-mobile-normal = 0.34rem !important
$font-size-mobile-content = 0.3rem !important
$font-size-mobile-desc = 0.28rem !important
$font-size-mobile-sm = 0.22rem !important

body
    &.page-index
        width: 100%
        overflow-x: hidden
        background-color: $color-bg-header

.head
    position: relative

    .container
        +tablet-down()
            padding-left: 5%;

    &-index
        background-color: $color-bg-header

    &-links
        +tablet-down()
            display: none
        a:after {
            content: ''
            position: absolute
            width: 1px
            height: 1px
            background: #fff
            border-radius: 50%
            top: 50%
            right: -20px
        }

    &-join
        position: relative
        display: inline-block
        height: 30px
        width: 80px
        line-height: 30px
        font-weight: bold
        text-align: center
        background-color: $color-red
        color #fff
        font-size: 14px
        font-weight: 700
        margin-left: 40px
        cursor: pointer
        &-desc {
            position: absolute
            width: 200px
            height: 230px
            background: url(../../img/join.jpg)
            background-size: contain
            top: 40px
            right: 0
            z-index: 10
            transition: opacity 0.5s
            opacity: 0
            visibility: hidden
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5)
        }
        &:hover {
            .head-join-desc {
                opacity: 1
                visibility: visible
            }
        }

    a
        color #fff
        font-size: 14px
        font-weight: normal
        transition: all 0.5s
        position: relative

        & + a
            margin-left: 40px

        &:last-child:after {
            display: none
        }

        &:hover
            opacity 0.8

.wrapper
    width: 100%
    overflow-x: hidden


.index-banner
    max-width: 1000px
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 130px;
    width: 90%;
    color: $color-font
    position: relative
    height: 500px

    &__bg
        position: absolute
        left: 60px
        background-repeat: no-repeat
        background-size: contain
        width: 1000px
        height: 500px
        margin: 0 auto;
        border-radius: 10px
        z-index: $zIndex-bg

    +tablet-down()
        margin-top: 29px
        margin-bottom: 20px!important
        width: 6.5rem!important
        height: 3.25rem!important

        &__bg
            left: 0;
            width: 6.5rem!important
            height: 3.25rem!important

        &__box,
        &__square
            display: none!important

        &__title
            font-size: 0.3rem !important
            width: auto !important
            height: 0.5rem !important
            padding: 0 0.3rem !important
            line-height: 0.5rem !important
            display: block!important

    &__box
        display: inline-block
        position: absolute
        left: -60px
        top: 80px
        height: 300px
        padding-top: 40px;
        width: 180px
        color: $color-font
        text-align: center
        font-style: normal
        background-color: $color-red
        z-index: $zIndex

        h2 
            display: inline
            font-size: 20px
            padding: 9px 2px
            font-weight: normal
            border-bottom: 1px solid #fff
        
        h3 
            margin-top: 11px
            font-weight: bold
            font-size: 30px

    &__title
        display: none 
        position: absolute
        text-align: center
        top: 128px
        left: 0
        width: 160px
        height: 60px
        line-height: 60px
        background-color: $color-red
        z-index: $zIndex
        font-weight: bold
        color: $color-font
        font-size: 30px
        

    &__square
        position: absolute
        display: inline-block
        width: 40px
        height: 40px
        z-index: $zIndex
        background-color: $color-red
        top: 380px;
        left: -100px;

    &__effect
        position: absolute
        left: 0
        top: 200px
        z-index: -1

        +tablet-down()
            top: -120px
            display: none

.index-main
    max-width: 1200px
    margin: 0 auto

    .column
        &-container
            +tablet-down()
                margin: 0 auto
                margin-left: 5%!important
                margin-right: 5%!important
                width: 90% !important
                padding-top: 0.5rem
                box-sizing: border-box

        &-header
            color: $color-font
            text-align: left
            border-bottom: 1px solid #fff
            margin-top: 100px
            margin-bottom: 60px

            +tablet-down()
                margin: 0 auto
                margin-left: 5%!important
                margin-right: 5%!important
                margin-top: 0.5rem
                width: 90% !important
                box-sizing: border-box


            h2
                color: $color-font
                font-weight: bold
                font-size: 50px

                +tablet-down()
                    font-size: $font-size-mobile-lg
                    line-height: $font-size-mobile-lg
            
            h3
                color: $color-font
                font-weight: normal
                font-size: 26px
                line-height: 48px
                
                +tablet-down()
                    font-size: $font-size-mobile-normal

    .topic
        display: flex
        list-style: none
        width: 100%
        color: $color-font
        text-align: left 
        box-sizing: border-box
        margin-bottom: 80px
        overflow: hidden
        
        +tablet-down()
            margin-bottom: 0.4rem !important

        &:last-child
            margin-bottom: 0!important

        &-link {
            color: #fff
            transition: all 0.5s
            &:hover {
                opacity 0.8
            }
        }

        &-time {
            display: inline-block
            height: 26px
            line-height: 26px
            font-size: 16px
            background: $color-red
            padding: 0 10px
            border-radius: 26px
            margin-bottom: 10px
            font-weight: normal

            +tablet-down() {
                height: 0.3rem !important
                line-height: 0.3rem !important
                font-size: 0.2rem !important
                margin-bottom: 0.05rem !important
            }
        }

        &-btn {
            position: relative
            display: block
            float: left
            width: 30px
            height: 30px
            margin: 8px 12px 0 0
            transition: all 0.5s
            background: url(../../img/play.svg) no-repeat
            background-size:  100%

            +tablet-down() {
                width: 0.3rem !important
                height: 0.3rem !important
                margin: 0.05rem 0.1rem 0 0
            }
        }

        &-video {
            display: none
            position: fixed
            width: 100%
            height: 100%
            top: 0
            left: 0
            background: rgba(0, 0, 0, 0.8)
            z-index: 11
            video {
                outline: none
                position: absolute
                width: 90%
                height: 90%
                left: 5%
                top: 5%
            }
            &-close {
                position: absolute
                width: 30px
                height: 30px
                right: 20px
                top: 20px
                transform: rotate(45deg)
                z-index: 1
                &:before {
                    content: ''
                    position: absolute
                    width: 30px
                    height: 2px
                    background: #fff
                    left: 0
                    top: 14px
                }
                &:after {
                    content: ''
                    position: absolute
                    width: 2px
                    height: 30px
                    background: #fff
                    left: 14px
                    top: 0
                }
            }
        }

        &-img
            flex: 0 0 180px;
            width: 180px
            height: 180px
            display: block
            border-radius: 50%
            overflow: hidden

            +tablet-down()
                flex: 0 0 1.6rem !important
                width: 1.6rem!important
                height: 1.6rem!important

            img
                height: 100%
                width: 100%

        &-text
            position: absolute
            bottom: 0
                
        &-content
            position: relative
            flex: auto;
            width: 50%
            display: inline-block
            padding-left: 60px

            +tablet-down()
                padding-left: 0.5rem

        h2 
            color: $color-font
            font-size: 30px
            line-height: 1.5

            +tablet-down()
                line-height: 1.2 !important
                font-size: 0.3rem !important

        &-desc
            color: $color-font
            font-size: 20px
            line-height: 26px
            font-weight: normal
            margin: 10px 0
            word-break: break-all
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            white-space: normal

            +tablet-down()
                display: none
        
        &-team,
        &-author
            color: rgba(255, 255, 255, 0.5)
            font-size: 16px
            line-height: 22px
            font-weight: normal

            +tablet-down()
                line-height: 1.4 !important
                font-size: 0.25rem !important

    .address
        width: 100%
        font-size: 0
        line-height: 0
        overflow: hidden

        &__site
            position: relative
            display: inline-block
            background: url('../../img/address.png') no-repeat
            width: 800px
            height: 300px
            background-size: 100% 100%
            overflow: hidden

            &::after
                content: " "
                display: block
                position: absolute
                height: 100%;
                width: 100%
                background: rgba(208,2,27,1)
                opacity: 0.12
                z-index: $zIndex-bg

            +tablet-down()
                width: 100%
                height: 2.5rem!important
            

        &__map
            display: inline-block
            background: url('../../img/map.jpg') no-repeat
            width: 400px
            height: 300px
            background-size: 100% 100%
            overflow: hidden

            +tablet-down()
                width: 100%
                height: 4.5rem!important

    .live
        &__list
            display: flex
            +tablet-down() {
                flex-direction: column
            }
        &__item {
            position: relative
            flex: 1
            margin-right: 22px
            margin-bottom: 10px
            background-size: 100%
            +tablet-down() {
                width: 100%!important
                height: auto!important
                margin-bottom: 0.25rem
            }
            &:last-child {
                margin-right: 0
            }
            &:before {
                content: ''
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                background: #000
                opacity: 0.5
                transition: all 0.5s
            }
            &:after {
                content: ''
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                background: url(../../img/play.svg) no-repeat center
            }
            &:hover {
                &:before {
                    opacity: 0.2
                }
                .live__qr {
                    opacity: 1
                    visibility: visible
                }
            }
        }
        &__image {
            width: 100%
            height: auto
        }
        &__qr {
            position: absolute
            width: 50%
            height: auto
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            z-index: 1
            opacity: 0
            visibility: hidden
            transition: opacity 0.5s
            border-radius: 5px
            overflow: hidden
        }
    
    .discuss
        position: relative
        display: flex

        +tablet-down()
            display: block
            padding-bottom: 3.2rem!important;

        &__content
            position: relative
            flex: auto;
            height: 460px;
            
            +tablet-down()
                position: static
                display: block
                width: 100%
                height: auto;
        
        &__title
            color: $color-font
            font-size: 40px
            font-weight: normal
            line-height: 50px

            +tablet-down()
                font-size: $font-size-mobile-sub-title
                
        
        &__desc
            color: $color-font
            line-height: 28px
            font-size: 20px
            font-weight: normal
            margin-top: 20px;

            +tablet-down()
                font-size: $font-size-mobile-desc
                line-height: 1.5
                margin-bottom: 0.5rem

        &__area
            position: absolute
            height: 200px
            width: calc(100% - 40px);
            bottom: 0
            left: 0
            text-align: right
            color: $color-font
            font-size: 16px
            font-weight: normal
            padding: 32px 48px
            background-color: $color-red
            z-index: $zIndex
            box-sizing: border-box

            +tablet-down()
                bottom: 0
                padding: 0.3rem!important
                width: 5rem!important
                height: 2.3rem!important

        &__list
            list-style: disc
            float: right
            clear: both
            zoom: 1

            li
                list-style: disc

                +tablet-down()
                    font-size: $font-size-mobile-sm
                & + li
                    margin-top: 0.15rem
                    text-align: left

        &__square
            position: absolute
            z-index: $zIndex
            right: 0
            bottom: 200px
            height: 40px
            width: 40px
            background-color: $color-red

            +tablet-down()
                height: 0.5rem
                width: 0.5rem
                left: 5rem!important
                bottom: 2.3rem!important
                right: auto !important
            
        &__preview
            flex: 0 0 530px
            padding-left: 70px
            font-size: 0
            line-height: 0

            +tablet-down()
                padding-left: 0 !important                

            &-img
                display: inline-block
                width: 200px
                height: 200px
                border-radius: 50%
                overflow: hidden
                
                +tablet-down()
                    width: 1.55rem
                    height: 1.55rem
                    margin-right: 0 !important
                    margin-bottom: 0 !important

                +tablet-down()
                    + .discuss__preview-img
                        margin-left: 0.18rem !important

                &:nth-child(1),
                &:nth-child(2)
                    margin-bottom: 60px

                &:nth-child(1),
                &:nth-child(3)
                    margin-right: 60px
                
                &:nth-child(4)
                    +tablet-down()
                        margin-right: 0 !important
                img
                    width: 100%
                    height: 100%

    .award
        &__list
            display: flex
            +tablet-down()
                flex-wrap: wrap
        &__item
            display: inline-block
            flex: 1
            margin-right: 26px
            margin-bottom: 10px
            &:last-child
                margin-right: 0
            +tablet-down()
                flex: 48%
                width: 48%
                height: 48%
                margin-right: 4%
                margin-bottom: 0.2rem
                &:nth-child(2n)
                    margin-right: 0
        &__image
            width: 100%
            height: auto
        &__content
            height: 70px
            padding: 5px 0
            text-align: center
            color: #fff
            background: $color-red
            margin-top: 20px
            +tablet-down()
                height: 0.8rem
                padding: 0.1rem 0
                margin-top: 0.1rem
        &__type
            display: block
            height: 30px
            line-height: 30px
            font-size: 16px
            font-weight: normal
            +tablet-down()
                height: 0.3rem
                line-height: 0.3rem
                font-size: 0.2rem
        &__name
            display: block
            height: 30px
            line-height: 30px
            font-size: 16px
            +tablet-down()
                height: 0.3rem
                line-height: 0.3rem
                font-size: 0.2rem

    .about

        &__header
            display: flex
        
        .column-header 
            flex: auto

        &__desc
            margin-top: 60px
            color: $color-font
            font-weight: normal
            font-size: 20px
            margin-bottom: 120px

            +tablet-down()
                margin-top: 0!important
                font-size: $font-size-mobile-desc
                margin-bottom: 2rem
        
        &__img 
            flex: 0 0 0 140px
            height: 140px
            padding-left: 66px

            +tablet-down()
                display: none

            img
                margin-top: 180px
                height: 140px
                width: 140px

.swiper-cover
    +tablet-down()
        height: 3.5rem !important